{% extends 'polls/base.html' %}
{% block title %}Bienvenidos a MiBlog {% endblock %}
{{year}}
{% block content %}
<a href="/polls/persona/{{persona.id}}/factura">Factures</a>&nbsp|&nbsp
<a href="/polls/persona/{{persona.id}}/blog">Notes</a>&nbsp|&nbsp
<a href="/polls/persona/{{persona.id}}/btc_address">Adreça bitcoin</a>
<h2>{{persona.nom}}</h2>
{% for nota in persona.notacalendario_set.all %}
  {% if nota %}
<ul>
  <h3>[{{nota.dateField}}]</h3>
    <ul><li>{{nota.nota}}</li></ul>
</ul>
{% else %}
   <p>
        No hay Entradas.
   </p>
{% endif %} 
{% endfor %}
{% endblock %}
{% block aside %}
  <a href="/polls/nota/{{persona.id}}/insercio">Afegir nota </a>
  
{% endblock %}